<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Birth Date:</b>
  <%= @profile.birth_date %>
</p>
<p>
  <b>Weight:</b>
  <%= @profile.weight %>
</p>

<p>
  <b>Height:</b>
  <%= @profile.height %>
</p>

<p>
  <b>Gender:</b>
  <%= @profile.gender %>
</p>

<p>
  <b>Ideal Weight:</b>
  <%= @profile.countIdealWeight(@profile.gender, @profile.height) %>
</p>




<%= link_to 'Edit profile', edit_profile_path(@profile) %> 
<br>
