<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Birth Date:</b>
  <%= @profile.birth_date %>
</p>
<p>
  <b>Weight:</b>
  <%= @profile.weight %>
</p>

<p>
  <b>Height:</b>
  <%= @profile.height %>
</p>



<%= link_to 'Edit profile', edit_profile_path(@profile) %> 
<br>
<%= link_to "Put my daily Foods", new_daily_path(@daily), :class => "btn" %>
<%= link_to "List of my daily Foods", dailies_path, :class => "btn" %>
