<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Birth Date:</b>
  <%= @profile.birth_date %>
</p>
<p>
  <b>Weight:</b>
  <%= @profile.weight %>
</p>

<p>
  <b>Height:</b>
  <%= @profile.height %>
</p>



<%= link_to 'Edit profile', edit_profile_path(@profile) %> 
<<<<<<< HEAD
=======
<br>

>>>>>>> 71052a09d9deb361ecfdc5a3855ff14ebdcae08a
