<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
    </h1>
    </section>
  </aside>


<div class="span8">
<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>




<%= link_to 'Setting Accout', edit_user_path %> 
</div>
</div>