<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
 	  </h1>
    </section>
  </aside>

<div class="span8">
<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Weight and Height:</b>
  <%= link_to "Weight and Height",  profiles_path %>
</p>



<%= link_to 'Setting Profile', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
</div>