<h1>Listing foods</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Calory</th>
    <th>Protein</th>
    <th>Carbohydrate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @foods.each do |food| %>
  <tr>
    <td><%= food.name %></td>
    <td><%= food.calory %></td>
    <td><%= food.protein %></td>
    <td><%= food.carbohydrate %></td>
    <td><%= link_to 'Show', food %></td>
  </tr>
<% end %>
</table>

<br />

