<h1>Listing dailies</h1>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Date</th>
    <th>Total</th>
<<<<<<< HEAD
    <th>Options</th>
=======
    <th>Content</th>
>>>>>>> 71052a09d9deb361ecfdc5a3855ff14ebdcae08a
    
  </tr>

<% @dailies.each do |daily| %>
  <tr>
    <td><%= daily.calculated_at %></td>
    <td><%= daily.total %></td>
<<<<<<< HEAD
    <td><%= link_to 'Show', daily %><br>
    <%= link_to 'Edit', edit_daily_path(daily) %><br>
    <%= link_to 'Delete', daily, method: :delete, data: { confirm: 'Are you sure?' } %></td>
=======
    <td><%= daily.content %></td>
  
>>>>>>> 71052a09d9deb361ecfdc5a3855ff14ebdcae08a
  </tr>
<% end %>
</table>

<br />
<%= link_to "How many calories did you eat today?",new_profile_daily_url(@profile), :class => "btn" %>
<br>

<%= render 'dailies/statistic' %>
