<h1>Listing dailies</h1>

<table>
  <tr>
    <th>Total</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dailies.each do |daily| %>
  <tr>
    <td><%= daily.total %></td>
    <td><%= daily.content %></td>
    <td><%= link_to 'Show', daily %></td>
    <td><%= link_to 'Edit', edit_daily_path(daily) %></td>
    <td><%= link_to 'Destroy', daily, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= render 'dailies/statistic' %>
