<h1>My Daily Food</h1>
<br>

<div class="row">
  <div class="span6 offset3">
    <h4>What do you eat/drink today?</h4>
    <%= form_for ([@profile, @daily]) do |f| %>
	 <p>  
     <%= f.date_select :calculated_at %>
     </p>
    <br>
    <p>
     <%= f.collection_select(:content, Food.all, :name, :name) %>
    </p>
    <p>
     <%= f.collection_select(:total, Food.all, :calory, :calory) %>
    </p>
    <p>
      <br>
      <%= f.submit "Count the Calories", class: "btn btn-large btn-primary" %>
    </p>
    <% end %>
  </div>
</div>


<br>
 <%= link_to "List of Foods", foods_path, :class => "btn" %>
