<p id="notice"><%= notice %></p>

<h3>
  <%= @tip.name %>
</h3>

<p>
  <%= @tip.context %>
</p>

<!-- 
<%= link_to 'Edit', edit_tip_path(@tip) %> |

 -->
<%= link_to 'Back', tips_path,  :class => "btn" %>
