<header class="navbar navbar-fixed-top navbar-inverse">

      <div class="navbar-inner">
        <div class="container">
          <%= link_to "CalBook", welcomePage_path, :class => 'brand' %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    welcomePage_path %></li>
              <li><%= link_to "Help", help_path %></li>
              <li><%= link_to "Sign in", '#' %></li>
              <li>
              <%= form_tag users_path, :method => 'get' do %>
                <p>
                <%= search_field_tag :search %>
                <%= submit_tag "Search", :name => nil %>
                </p>
              <% end %>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>